<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
</head>
<body ng-app="DirectoryBrowser">
    <div ng-controller="ContentController" style="width: 700px; margin: auto">
        <div style="width: 300px; margin: auto">
            <table border="1">
                <tr>
                    <th>Less 10 Mb</th>
                    <th>10 - 50 Mb</th>
                    <th>More 100 Mb</th>
                </tr>
                <tr>
                    <td>{{counts.Less10Mb}}</td>
                    <td>{{counts.More10MbLess50Mb}}</td>
                    <td>{{counts.More100Mb}}</td>
                </tr>
            </table>
        </div>
        <!--<p>
            Less 10 Mb: {{counts.Less10Mb}}
            <br/>
            10 - 50 Mb: {{counts.More10MbLess50Mb}}
            <br/>
            More 100 Mb: {{counts.More100Mb}}
            <br />
        </p>-->
        <span>Current Directory: {{data.CurrentPath}} <br /></span>
        <div style="background: #EFF8FB">
            <a ng-repeat="dir in data.Directories" href="{{dir.Path}}" ng-click="OnLinkClick(this)">{{dir.Name}} <br /></a>
            <span ng-repeat="file in data.Files">{{file.Name}} <br /></span>
        </div>
    </div>


    <script>
        var app = angular.module("DirectoryBrowser", []);
        app.controller("ContentController", function ($scope, $http) {
            //debugger

            var GetDisks = function () {
                $http.get('http://localhost:12601/api/directory').
                success(function (data, status, headers, config) {
                    //debugger
                    $scope.data = data;
                    //file count notification
                    $scope.counts = {
                        "Less10Mb": "select disk for file info",
                        "More10MbLess50Mb": "...",
                        "More100Mb": "..."
                    };
                    //-------------------------
                }).
                error(function (data, status, headers, config) {
                    //debugger
                    alert("access denyed");
                });
            };

            var GetDirectoryInfo = function (path) {
                debugger
                $http.get('http://localhost:12601/api/directory?path=' + path).
                    success(function (data, status, headers, config) {
                        //debugger
                        $scope.data = data;
                        
                        //get files count
                        GetFilesCounts(path);
                        //---------------
                    }).
                    error(function (data, status, headers, config) {
                        //debugger
                        alert("access denyed");
                    });
                debugger
            };

            var GetFilesCounts = function (path) {
                //showing temporary data
                $scope.counts = {
                    "Less10Mb": "counting...",
                    "More10MbLess50Mb": "counting...",
                    "More100Mb": "counting..."
                };
                //----------------------
                $http.get('http://localhost:12601/api/file?path=' + path).
                success(function (data, status, headers, config) {
                    $scope.counts = data;
                }).
                error(function (data, status, headers, config) {
                    //showing message when error
                    $scope.counts = {
                        "Less10Mb": "counting failed",
                        "More10MbLess50Mb": "...",
                        "More100Mb": "..."
                    };
                    //----------------------
                });
            };

            GetDisks();

            $scope.OnLinkClick = function (object) {
                //$scope.counts.Less10Mb = 0;
                //$scope.counts.More10MbLess50Mb = 0;
                //$scope.counts.More100Mb = 0;
                if (object.dir.Path == "") {
                    GetDisks();
                }
                else {
                    debugger
                    GetDirectoryInfo(object.dir.Path);
                    debugger
                }
                
            };
        });
    </script>
</body>
</html>
